nav {
  width: 100%;
  height: 3em;
  margin-left: 90%;
}

img {
  width: 100%;
}


footer {
  width: 100%;
}

footer li {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}

.hero-image {
   position: relative;
   display: inherit;
   content: normal;
   margin-bottom: 3em;
}
#title{
  background:rgba(255,255,255,0.5);
  color: #00A000;
  position: absolute;
  bottom: -0.5em;
  left: 4%;


}

/*#title {
   position: absolute;
   text-align: left;
   color: #00A000;
   bottom: 0;
   left: 5%;
   width: 100%;
   max-width: 100%;
}*/
