#hamburger {
  padding: 0.5em;
  font-size: 3em;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #FF8B07;
  color: #F5F2EF;
}

nav li {
  display: block;
  margin-right: 2em;
  padding: .1em .1em;
  border-bottom: 1px solid #524B4B;
}

nav li img {
  display: none;
}

nav li a, .dropbtn {
  display: block;
  color: #F5F2EF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #524B4B;
}

nav li.dropdown {
  display: block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #524B4B;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: #F5F2EF;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .dropdown-content a:hover {
  color: black;
}

#categories a {
  padding-right: 20px;
}

nav .dropdown-content a:hover {background-color: #FFFA6D}

nav .dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (min-width: 799px) {

  #hamburger {
    display: none;
  }

  nav {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  nav ul {
    display: inline-block;
  }

  nav li {
    float: right;
    display: inline-block;
    border-bottom: none;
  }

  nav li img {
    display: inline-block;
    max-width: 100%;
    width: 50%;
    margin-top: -5.8em;
    margin-left: 8em;
    margin-right: 10em;
  }

  nav li a, .dropbtn {
    position: relative;
    display: inline-block;
    color: #F5F2EF;
    font-size: 1.2em;
    text-align: center;
    padding: 1em .1em;
    text-decoration: none;
    z-index: 1;
  }

  #map {
    position: relative;
    height: 37.5em;
    width: 62.5em;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
  }

  #title {
    color: white;
    width: 20%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    float: left;
  }


  .aboutUs {
    margin-left: 30%;
  }

}
