#hamburger {
  padding-top: 20px;
  font-size: 3em;
}
.menu {
  display: none;
  list-style: none;
  margin-left: -15%;
}

.menuLi {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid white;
  border-radius: 5px;
  padding-right: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  z-index: 4;
}


@media screen and (min-width: 800px) {

  nav {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  #hamburger {
    display: none;
  }

  .menuLi {
    display: inline-block;
    font-size: 3em;
  }

  #map {
      position: relative;
      height: 600px;
      width: 1080px;
      max-width: 100%;
      overflow: hidden;
      margin: auto;
  }


  .details {
    color: #FFFA6D;
  }

}
