#map {
    position: relative;
    height: 600px;
    min-width: 800px;
    width: 1080px;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}

.aboutUs {
  list-style: none;
}

.about-us img {
  border-radius: 50%;
  width: 20%;
}
