#map {
    position: relative;
    height: 37.5em;
    min-width: 50em;
    width: 62.5em;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}


.aboutUs {
  list-style: none;
  color: #F5F2EF;
  font-size: 1.3em;
}

.aboutUs img {
  border-radius: 50%;
  width: 20%;
  border: 2px solid #1F1D1D;
  box-shadow: 7px 7px #524B4B;
  /*margin-top: 200px;*/
  float: left;
  clear: left;
}

.aboutUs img:first-child {
  margin-top: 5px;
}

.aboutUs p {
  max-width:350px;
  max-height: 350px;
  border-radius: 5px;
  border: 2px solid #FFFA6D;
  background-color: rgba(82, 75, 75, 0.65);
  box-shadow: 7px 7px #524B4B;
  margin-left: 40%;
  margin-top: 110px;
  margin-bottom: 20px;
}
